blockquote:before {
  color: rgba(0, 0, 0, .35);
  content: open-quote;
  font-size: 9em;
  font-family: Georgia;
  font-weight: 400;
  top: 85px;
  line-height: 0.1em;
  position: relative;
  quotes: '“' '“' '“' '“';
  padding: 10px;
}
/*blockquote:after {
  color: rgba(0, 0, 0, .35);
  content: close-quote;
  font-size: 9em;
  font-family: Georgia;
  font-weight: 400;
  top: 65px;
  line-height: 0.1em;
  position: relative;
  quotes: '”' '”' '”' '”';
  padding: 10px;
  vertical-align: text-top;
}*/