/*!
Theme Name: Healthy Start
Theme URI: http://itslimetime.ca
Author: Kevin Pryce | Lime Communications
Author URI: http://itslimetime/ca
Description: A custom made theme for Healthy Start in Saskatchewan led by
Reseau Santé en français de la Saskatchewan and made by Lime Communications.
Bitbucket Theme URI: https://bitbucket.org/kpry44/healthystartkids
Bitbucket Branch:    master
Version: 2.8.4
*/



//  _____                            _
// |_   _|                          | |
//   | |  _ __ ___  _ __   ___  _ __| |_ ___
//   | | | '_ ` _ \| '_ \ / _ \| '__| __/ __|
//  _| |_| | | | | | |_) | (_) | |  | |_\__ \
// |_____|_| |_| |_| .__/ \___/|_|   \__|___/
//                 | |
//                 |_|

@import 'wordpress-editor-styles.less';



// __      __        _       _     _
// \ \    / /       (_)     | |   | |
//  \ \  / /_ _ _ __ _  __ _| |__ | | ___  ___
//   \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
//    \  / (_| | |  | | (_| | |_) | |  __/\__ \
//     \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

@red: #df342e;
@blue: #428bca;
@green: #639A3D;



//   _____                           _
//  / ____|                         | |
// | |  __  ___ _ __   ___ _ __ __ _| |
// | | |_ |/ _ \ '_ \ / _ \ '__/ _` | |
// | |__| |  __/ | | |  __/ | | (_| | |
//  \_____|\___|_| |_|\___|_|  \__,_|_|

.container {
   width: 950px !important;
}
.contentContainer {
   padding: 40px 0;
}
.link {
   margin-top: 60px;
}

.floating-circle {
   border-radius: 50%;
   box-shadow: 0px 7px 20px #999999;
}
.item-space {
   padding: 25px 0 25px;
}
.page-content {
   margin-bottom: 50px;
   h1 {
      margin-bottom: 12px;
   }
}



//  _______        _       _    _                _ _
// |__   __|      | |     | |  | |              | (_)
//    | | _____  _| |_    | |__| | ___  __ _  __| |_ _ __   __ _ ___
//    | |/ _ \ \/ / __|   |  __  |/ _ \/ _` |/ _` | | '_ \ / _` / __|
//    | |  __/>  <| |_ _  | |  | |  __/ (_| | (_| | | | | | (_| \__ \
//    |_|\___/_/\_\\__( ) |_|  |_|\___|\__,_|\__,_|_|_| |_|\__, |___/
//                    |/                                    __/ |
//                                                         |___/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800);

body {
   font-size: 16px;
   font-weight: 400;
   font-family: 'Open Sans', Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Open Sans', Helvetica, sans-serif;
}



//   _____                 _ _           ______
//  / ____|               (_) |         |  ____|
// | |  __ _ __ __ ___   ___| |_ _   _  | |__ ___  _ __ _ __ ___  ___
// | | |_ | '__/ _` \ \ / / | __| | | | |  __/ _ \| '__| '_ ` _ \/ __|
// | |__| | | | (_| |\ V /| | |_| |_| | | | | (_) | |  | | | | | \__ \
//  \_____|_|  \__,_| \_/ |_|\__|\__, | |_|  \___/|_|  |_| |_| |_|___/
//                                __/ |
//                               |___/

.gform_fields,
.gfield_radio {
   list-style: none;
}



//  _    _                _
// | |  | |              | |
// | |__| | ___  __ _  __| | ___ _ __
// |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
// | |  | |  __/ (_| | (_| |  __/ |
// |_|  |_|\___|\__,_|\__,_|\___|_|

.header {
   background: #edba10 url('image/png.png');
   height: 140px;
   .container {
      background: transparent url('image/appleheader.png') top left no-repeat;
      background-size: 160px 160px;
      left: 20px;
      img {
         vertical-align: top;
      }
      img#child {
         height: 230px;
         z-index: 2000;
         position: absolute;
         top: 15px;
      }
      img#logo {
         position: absolute;
         height: 115px;
         top: 10px;
         left: 20px;
      }
      .newsletter-action {
         display: inline-block;
         position: absolute;
         top: 10px;
         left: 45px;
         .glyphicon {
            margin-right: 8px;
         }
      }
      .widget_icl_lang_sel_widget {
         display: inline-block;
         position: absolute;
         top: 50px;
         left: 45px;
      }
   }
}



//  _   _             _             _   _
// | \ | |           (_)           | | (_)
// |  \| | __ ___   ___  __ _  __ _| |_ _  ___  _ __
// | . ` |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \
// | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
// |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
//                       __/ |
//                      |___/

.navbar {
   color: white;
   background: @red url('image/png.png');
   border-radius: 0;
   margin-bottom: 0;
   border: none;
   height: 60px;
}
.navigation ul li {
   font-size: 1em;
}
.nav>li>a {
   color: white;
   text-transform: uppercase;
}
.nav>li>a:hover {
   background-color: #2b84d3;
}
.nav-container {
margin-top: 7px;
}

// Pagination
ul.pagination {
   .current {
      background: @blue;
      color: #fff;
   }
}



//  ______               _                                         _
// |  ____|             | |                                       | |
// | |__ _ __ ___  _ __ | |_ ______ _ __   __ _  __ _  ___   _ __ | |__  _ __
// |  __| '__/ _ \| '_ \| __|______| '_ \ / _` |/ _` |/ _ \ | '_ \| '_ \| '_ \
// | |  | | | (_) | | | | |_       | |_) | (_| | (_| |  __/_| |_) | | | | |_) |
// |_|  |_|  \___/|_| |_|\__|      | .__/ \__,_|\__, |\___(_) .__/|_| |_| .__/
//                                 | |           __/ |      | |         | |
//                                 |_|          |___/       |_|         |_|

#healthy-carousel {
   margin-bottom: 45px;
   .carousel-control {
      width: 60px;
   }
   .item {
      .col-xs-4 {
         padding-right: 0;
         .content {
            color: #fff;
            text-align: center;
            height: 300px;
            padding: 40px 30px 30px;
            h4 {
               font-size: 2em;
            }
            .btn {
               margin-top: 20px;
            }
         }
      }
      .col-xs-8 {
         max-height: 300px;
      }
   }
}
.intro-text p {
   margin: 0 70px 40px;
}



//                    _     _                   _
//     /\            | |   (_)                 | |
//    /  \   _ __ ___| |__  ___   _____   _ __ | |__  _ __
//   / /\ \ | '__/ __| '_ \| \ \ / / _ \ | '_ \| '_ \| '_ \
//  / ____ \| | | (__| | | | |\ V /  __/_| |_) | | | | |_) |
// /_/    \_\_|  \___|_| |_|_| \_/ \___(_) .__/|_| |_| .__/
//                                       | |         | |
//                                       |_|         |_|

#archive {
   .item-archive {
      .item-space;
   }
}



//  _    _                              _
// | |  | |                            | |
// | |__| | ___  _ __ ___   ___   _ __ | |__  _ __
// |  __  |/ _ \| '_ ` _ \ / _ \ | '_ \| '_ \| '_ \
// | |  | | (_) | | | | | |  __/_| |_) | | | | |_) |
// |_|  |_|\___/|_| |_| |_|\___(_) .__/|_| |_| .__/
//                               | |         | |
//                               |_|         |_|

#home {
   .item-home {
      .item-space;
   }
}



//   _____      _                                      _
//  / ____|    | |                                    | |
// | |     __ _| |_ ___  __ _  ___  _ __ _   _   _ __ | |__  _ __
// | |    / _` | __/ _ \/ _` |/ _ \| '__| | | | | '_ \| '_ \| '_ \
// | |___| (_| | ||  __/ (_| | (_) | |  | |_| |_| |_) | | | | |_) |
//  \_____\__,_|\__\___|\__, |\___/|_|   \__, (_) .__/|_| |_| .__/
//                       __/ |            __/ | | |         | |
//                      |___/            |___/  |_|         |_|

#category {
   .item-category {
      .item-space;
   }
}



//  ______               _____ _               _          _    _  _____
// |  ____|             / ____| |             | |        | |  | |/ ____|
// | |__ __ _  __ _    | (___ | |_ ___ _ __   | |_ ___   | |__| | (___
// |  __/ _` |/ _` |    \___ \| __/ _ \ '_ \  | __/ _ \  |  __  |\___ \
// | | | (_| | (_| |_   ____) | ||  __/ |_) | | || (_) | | |  | |____) |
// |_|  \__,_|\__, ( ) |_____/ \__\___| .__/   \__\___/  |_|  |_|_____/
//               | |/                 | |
//               |_|                  |_|

.panel {
   background-color: transparent;
}
.panel-default>.panel-heading {
   color: white;
   background: #7a2b9d url('image/png.png');
}
.panel-default {
   border: none;
}
.panel-title {
   font-size: 1.2em;
}
.panel-title a {
   display: block;
   padding: 10px 15px;
   margin: -10px -15px;
}



//  _____                                               _                               _
// |  __ \                                             | |                             | |
// | |__) |_ _  __ _  ___ ______ ___  _   _ _ __ ______| |_ ___  __ _ _ __ ___    _ __ | |__  _ __
// |  ___/ _` |/ _` |/ _ \______/ _ \| | | | '__|______| __/ _ \/ _` | '_ ` _ \  | '_ \| '_ \| '_ \
// | |  | (_| | (_| |  __/     | (_) | |_| | |         | ||  __/ (_| | | | | | |_| |_) | | | | |_) |
// |_|   \__,_|\__, |\___|      \___/ \__,_|_|          \__\___|\__,_|_| |_| |_(_) .__/|_| |_| .__/
//              __/ |                                                            | |         | |
//             |___/                                                             |_|         |_|

#page-our-team {
   .item-our-team {
      .item-space;
      .teammember_email,
      .teammember_phone {
         color: #fff;
         padding: 5px 15px;
         font-size: .9em;
         letter-spacing: 0.2em;
         display: inline-block;
      }
      .well {
         margin-bottom: 5px;
      }
      .glyphicon {
         padding-right: 6px;
      }
      .teammember_email {
         background: #8840a7;
      }
      .teammember_phone {
         background: #25A24E;
      }
   }
}



//  _____                                         _                               _
// |  __ \                                       | |                             | |
// | |__) |_ _  __ _  ___ ______ _ __   __ _ _ __| |_ _ __   ___ _ __ ___   _ __ | |__  _ __
// |  ___/ _` |/ _` |/ _ \______| '_ \ / _` | '__| __| '_ \ / _ \ '__/ __| | '_ \| '_ \| '_ \
// | |  | (_| | (_| |  __/      | |_) | (_| | |  | |_| | | |  __/ |  \__ \_| |_) | | | | |_) |
// |_|   \__,_|\__, |\___|      | .__/ \__,_|_|   \__|_| |_|\___|_|  |___(_) .__/|_| |_| .__/
//              __/ |           | |                                        | |         | |
//             |___/            |_|                                        |_|         |_|

#page-partners {
   .item-partner {
      .item-space;
      .col-xs-4 {
         text-align: center;
         img {
            display: inline;
         }
      }
   }
}



//  _____                                                          _                                    _                     _
// |  __ \                                                        | |                                  | |                   | |
// | |__) |_ _  __ _  ___ ______ _ __ ___  ___  ___  __ _ _ __ ___| |__ ______ _ __ ___   ___ _ __ ___ | |__   ___ _ __ _ __ | |__  _ __
// |  ___/ _` |/ _` |/ _ \______| '__/ _ \/ __|/ _ \/ _` | '__/ __| '_ \______| '_ ` _ \ / _ \ '_ ` _ \| '_ \ / _ \ '__| '_ \| '_ \| '_ \
// | |  | (_| | (_| |  __/      | | |  __/\__ \  __/ (_| | | | (__| | | |     | | | | | |  __/ | | | | | |_) |  __/ | _| |_) | | | | |_) |
// |_|   \__,_|\__, |\___|      |_|  \___||___/\___|\__,_|_|  \___|_| |_|     |_| |_| |_|\___|_| |_| |_|_.__/ \___|_|(_) .__/|_| |_| .__/
//              __/ |                                                                                                  | |         | |
//             |___/                                                                                                   |_|         |_|

#page-research-member {
   .item-research-member {
      .item-space;
   }
}



//  _____  _             _                          _    _  _____
// |  __ \| |           (_)                        | |  | |/ ____|
// | |__) | | __ _ _   _ _ _ __   __ _  __      __ | |__| | (___
// |  ___/| |/ _` | | | | | '_ \ / _` | \ \ /\ / / |  __  |\___ \
// | |    | | (_| | |_| | | | | | (_| |  \ V  V /  | |  | |____) |
// |_|    |_|\__,_|\__, |_|_| |_|\__, |   \_/\_/   |_|  |_|_____/
//                  __/ |         __/ |
//                 |___/         |___/

.well h4 {
   text-align: center;
   font-size: 1.5em;
}
.well button {
   display: block;
   margin: 20px auto 0;
}



//  _____                              _     _                   _
// |  __ \                            (_)   | |                 | |
// | |__) |_ _  __ _  ___ ________   ___  __| | ___  ___   _ __ | |__  _ __
// |  ___/ _` |/ _` |/ _ \______\ \ / / |/ _` |/ _ \/ _ \ | '_ \| '_ \| '_ \
// | |  | (_| | (_| |  __/       \ V /| | (_| |  __/ (_) || |_) | | | | |_) |
// |_|   \__,_|\__, |\___|        \_/ |_|\__,_|\___|\___(_) .__/|_| |_| .__/
//              __/ |                                     | |         | |
//             |___/                                      |_|         |_|

#page-video {
   .item-video {
      .item-space;
   }
}



//  _____                                                                            _
// |  __ \                                                                          | |
// | |__) |_ _  __ _  ___ ______ _ __ ___  ___  ___  _   _ _ __ ___ ___  ___   _ __ | |__  _ __
// |  ___/ _` |/ _` |/ _ \______| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __| | '_ \| '_ \| '_ \
// | |  | (_| | (_| |  __/      | | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \_| |_) | | | | |_) |
// |_|   \__,_|\__, |\___|      |_|  \___||___/\___/ \__,_|_|  \___\___||___(_) .__/|_| |_| .__/
//              __/ |                                                         | |         | |
//             |___/                                                          |_|         |_|

#page-resources {
   .item-resource {
      text-align: center;
      .item-space;
      padding-left: 5%;
      padding-right: 5%;
      img {
         max-width: 60%;
         width: 100%;
         display: inline;
      }
   }
}



//  _____                                                _      _   _                  _
// |  __ \                                              | |    | | | |                | |
// | |__) |_ _  __ _  ___ ______ _ __   _____      _____| | ___| |_| |_ ___ _ __ _ __ | |__  _ __
// |  ___/ _` |/ _` |/ _ \______| '_ \ / _ \ \ /\ / / __| |/ _ \ __| __/ _ \ '__| '_ \| '_ \| '_ \
// | |  | (_| | (_| |  __/      | | | |  __/\ V  V /\__ \ |  __/ |_| ||  __/ | _| |_) | | | | |_) |
// |_|   \__,_|\__, |\___|      |_| |_|\___| \_/\_/ |___/_|\___|\__|\__\___|_|(_) .__/|_| |_| .__/
//              __/ |                                                           | |         | |
//             |___/                                                            |_|         |_|

#page-newsletter {
   .item-newsletter {
      .item-space;
   }
}



//  _____                                                                                                 _               _
// |  __ \                                                                                               | |             | |
// | |__) |_ _  __ _  ___ ______ _ __  _ __ ___   __ _ _ __ ___  ___ ___ ______ _ __ ___ _ __   ___  _ __| |_ ___   _ __ | |__  _ __
// |  ___/ _` |/ _` |/ _ \______| '_ \| '__/ _ \ / _` | '__/ _ \/ __/ __|______| '__/ _ \ '_ \ / _ \| '__| __/ __| | '_ \| '_ \| '_ \
// | |  | (_| | (_| |  __/      | |_) | | | (_) | (_| | | |  __/\__ \__ \      | | |  __/ |_) | (_) | |  | |_\__ \_| |_) | | | | |_) |
// |_|   \__,_|\__, |\___|      | .__/|_|  \___/ \__, |_|  \___||___/___/      |_|  \___| .__/ \___/|_|   \__|___(_) .__/|_| |_| .__/
//              __/ |           | |               __/ |                                 | |                        | |         | |
//             |___/            |_|              |___/                                  |_|                        |_|         |_|

#page-progress_report {
   .item-progress_report {
      .item-space;
   }
}



//  _____                                        __       _        _ _       _                _
// |  __ \                                      / _|     | |      | (_)     | |              | |
// | |__) |_ _  __ _  ___ ______ _   _ ___  ___| |_ _   _| |______| |_ _ __ | | _____   _ __ | |__  _ __
// |  ___/ _` |/ _` |/ _ \______| | | / __|/ _ \  _| | | | |______| | | '_ \| |/ / __| | '_ \| '_ \| '_ \
// | |  | (_| | (_| |  __/      | |_| \__ \  __/ | | |_| | |      | | | | | |   <\__ \_| |_) | | | | |_) |
// |_|   \__,_|\__, |\___|       \__,_|___/\___|_|  \__,_|_|      |_|_|_| |_|_|\_\___(_) .__/|_| |_| .__/
//              __/ |                                                                  | |         | |
//             |___/                                                                   |_|         |_|

#page-useful-links {
   .item-useful-link {
      .item-space;
   }
}



//  _______                                                  _
// |__   __|                                                | |
//    | | __ ___  _____  _ __   ___  _ __ ___  _   _   _ __ | |__  _ __
//    | |/ _` \ \/ / _ \| '_ \ / _ \| '_ ` _ \| | | | | '_ \| '_ \| '_ \
//    | | (_| |>  < (_) | | | | (_) | | | | | | |_| |_| |_) | | | | |_) |
//    |_|\__,_/_/\_\___/|_| |_|\___/|_| |_| |_|\__, (_) .__/|_| |_| .__/
//                                              __/ | | |         | |
//                                             |___/  |_|         |_|

#taxonomy {
   .item-taxonomy {
      .item-space;
   }
}



//  _____                        _ _                                     _
// |  __ \                      (_) |                                   | |
// | |__) |_ _  __ _  ___ ______ _| |_ ___ _ __ ___ ______ _ ____      _| |__  ___
// |  ___/ _` |/ _` |/ _ \______| | __/ _ \ '_ ` _ \______| '_ \ \ /\ / / '_ \/ __|
// | |  | (_| | (_| |  __/      | | ||  __/ | | | | |     | |_) \ V  V /| | | \__ \
// |_|   \__,_|\__, |\___|      |_|\__\___|_| |_| |_|     | .__/ \_/\_/ |_| |_|___/
//              __/ |                                     | |
//             |___/                                      |_|

#page-playing-with-healthy-start {
   .item-playing-with-healthy-start {
      .item-space;
   }
}



//  _  _    ___  _  _         _
// | || |  / _ \| || |       | |
// | || |_| | | | || |_ _ __ | |__  _ __
// |__   _| | | |__   _| '_ \| '_ \| '_ \
//    | | | |_| |  | |_| |_) | | | | |_) |
//    |_|  \___/   |_(_) .__/|_| |_| .__/
//                     | |         | |
//                     |_|         |_|

#c404 {
   text-align: center;
}
p.c404error {
   font-size: 155px;
}
c.404 {
   text-align: center;
}



//  _______        _   _                       _       _
// |__   __|      | | (_)                     (_)     | |
//    | | ___  ___| |_ _ _ __ ___   ___  _ __  _  __ _| |___
//    | |/ _ \/ __| __| | '_ ` _ \ / _ \| '_ \| |/ _` | / __|
//    | |  __/\__ \ |_| | | | | | | (_) | | | | | (_| | \__ \
//    |_|\___||___/\__|_|_| |_| |_|\___/|_| |_|_|\__,_|_|___/

#testimonials {
   color: white;
   background: #2b84d3 url('image/png.png');
   text-align: center;
   padding: 25px 0;
}
// blockquote:before {
//    color: rgba(0, 0, 0, .35);
//    content: open-quote;
//    /*font-size: 9em;*/
//    font-family: Georgia;
//    font-weight: 400;
//    /*top: 65px;*/
//    line-height: 0.1em;
//    position: relative;
//    /*quotes: '“' '“' '“' '“';*/
//    padding: 10px;
// }
// blockquote:after {
//   color: rgba(0, 0, 0, .35);
//   content: close-quote;
//   font-size: 9em;
//   font-family: Georgia;
//   font-weight: 400;
//   top: 65px;
//   line-height: 0.1em;
//   position: relative;
//   quotes: '“' '”' '“' '“';
//   padding: 10px;
//   vertical-align: text-top;
// }
blockquote {
   margin: 0;
}
blockquote p {
   display: inline;
}
#testimonials blockquote {
   border: none;
   font-style: bold;
}
#testimonials blockquote>p {
   font-size: 1em;
   font-weight: 300
}
#testimonials blockquote:nth-child(2) {
   font-style: italic;
   font-size: 1.2em;
   font-weight: 200;
   text-transform: uppercase;
}
#testimonials .container {
   background-color: rgba(0, 0, 0, .20);
   padding-bottom: 50px;
}



//  ______          _
// |  ____|        | |
// | |__ ___   ___ | |_ ___ _ __
// |  __/ _ \ / _ \| __/ _ \ '__|
// | | | (_) | (_) | ||  __/ |
// |_|  \___/ \___/ \__\___|_|

#footer {
   color: white;
   background: #639A3D url('image/apple.png') no-repeat 98% 15px;
   padding: 40px 10px 0;
}
.partnership {
   text-align: center;
   background-color: rgba(0, 0, 0, .20);
   margin-top: 25px;
   padding: 30px 0 20px 0;
}
.partnership {
   margin-top: 50px;
}
.footer h3 {
   font-family: 'Open Sans', Helvetica, sans-serif;
   background-color: rgba(0,0,0,.2);
   font-weight: 400;
   padding: 7px;
}
.recent-news-widget h5 {
   font-size: 16px;
   font-weight: 600;
}
.recent-news-widget p {
   font-size: 13px;
}
.recent-news-widget img {
   border-radius: 50%;
}
.read-more a {
   color: #edba10;
}
.footer #mc_embed_signup .btn {
   margin-top: 15px;
}
.footer .btn-danger {
   background-color: #df342e;
}
.lime-ad p {
   font-size: .8em;
   color: #000;
   margin: 30px 0 0 0;
}
.lime-ad a {
   color: #2cc65e;
}
.lime-ad a:hover {
   color: #999999;
   text-decoration: none;
}
.social {
   margin-top: 50px;
}
.social img {
   text-align: center;
   padding: 0 10px;
}
#mc_embed_signup {
   input {
      color: #000;
   }
   .btn {
      color: #fff;
   }
}





/* Non-responsive overrides
*
* Utilitze the following CSS to disable the responsive-ness of the container,
* grid system, and navbar.
*/

/* Reset the container */
.container {
   max-width: none !important;
   width: 970px;
}


.container .navbar-header,
.container .navbar-collapse {
   margin-right: 0;
   margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
   float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
   display: block !important;
   height: auto !important;
   padding-bottom: 0;
   overflow: visible !important;
}

.navbar-toggle {
   display: none;
}
.navbar-collapse {
   border-top: 0;
}

.navbar-brand {
   margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
   float: left;
   margin: 0;
}
.navbar-nav > li {
   float: left;
}
.navbar-nav > li > a {
   padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
   float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
   position: absolute;
   float: left;
   background-color: #fff;
   border: 1px solid #cccccc;
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-width: 0 1px 1px;
   border-radius: 0 0 4px 4px;
   -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
   color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
   color: #fff !important;
   background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
   color: #999 !important;
   background-color: transparent !important;
}


